p {
  margin: 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
  text-transform: uppercase;
}
.main_product_name {
  padding: 40px 0px 120px 0px;
}
.product_name_specific {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 320px;
}

.product_name_picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.product_name_picture img {
  width: 300px;
  height: 400px;
}
.product_name_details {
  min-width: 320px;
  background-color: white;
  padding: 0px 20px;
}

/*Select Color*/
/*Select Color*/
/*Select Color*/

.product_name_select_color {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.product_name_colors {
  display: flex;
  flex-direction: column;
}
.color {
  width: 39px;
  height: 39px;
  border-radius: 3px;
}
.color_yellow {
  position: relative;
  border: 3px solid black;
  border-radius: 5px;
}
.color_yellow:before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background: #fdd234;
}

.color_blue {
  background: blue;
}
.color_red {
  background: red;
}
.color_black {
  background: black;
}
.selected_color_text {
  font-weight: bolder;
}

/*Select Size*/
/*Select Size*/
/*Select Size*/

.size_radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.size_radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.size_radio label {
  border-radius: 3px;
  border: 1px solid black;
  font-size: 0.7rem;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.size_radio label:hover {
  cursor: pointer;
  background-color: lightgray;
}
.size_radio input[type="radio"]:checked + label {
  font-size: 0.9rem;
  border: 2px solid black;
  padding: 3px;
  color: white;
  background-color: black;
}

/* .product_name_size
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-size: 0.65rem;
  width: 60px;
  height: 34px;
  line-height: 34px;
  display: inline-block; 
*/
