body {
  font-family: sofia pro;
  margin: 0;
}

/* Navigation */

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
}

.nav_1 {
  background-color: #0a3641;
  color: #fff;
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav_main,
.nav_logo {
  margin: 0px 239px;
}

.nav_logo {
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav_main {
  display: inline-block;
  display: flex;
}

.nav_main a {
  padding: 0px 24px;
}

.nav_2,
.nav_2 a {
  background-color: #b3c1c4;
  color: #0a3641;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

/* Main */

/* Splash */

h1 {
  font-size: 7.25rem;
  font-weight: 900;
}

.splash {
  background-image: url(/images/splash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1564px;
  margin: auto;
  background-size: cover;
  display: flex;
}

.splash_box {
  margin: 120px 0px 0px 12.5%;
  background-color: #061e24;
  width: 610px;
  height: 1000px;
  color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.splash_box > * {
}
.splash_img {
  margin-bottom: 27px;
}

.splash_quote {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin: 35px 0px;
}

.splash_text {
  font-size: 1.125rem;
  margin: 25px 105px;
  width: 400px;
  height: 110px;
}
.splash_cta_box {
}
.splash_cta {
  text-transform: uppercase;
  background-color: #7ec850;
  width: 400px;
  height: 52px;
  display: block;
  text-align: center;
  line-height: 52px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  margin: 54px 0px;
}

.splash_logo {
  margin: 120px 0 0 140px;
}

position: relative;
position: absolute;
top: 50%;
transform: translateX(-50%);
